@mixin badge($background:  #f1a401){
  display: inline-block;
  padding: rem-calc(4px) rem-calc(9px);
  font-size: rem-calc(11px);
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: $background;
  border-radius: 11px;
  margin-left: 3px;
  font-weight:300;
}