.row{
  @include display-flex;
  @include flex-wrap(wrap);
  margin-bottom: rem-calc(5px);
  @include flex(1);
}
.container-full{
  @include display-flex();
}
.container-flex{
  @include container();
  padding: rem-calc(20px);
}

// Landscape phones and down
@media (max-width: 480px) {
  .container{
    width: 90%;
  }
}

// Landscape phone to portrait tablet
@media (max-width: 767px) {
  .container{
    width: 90%;
  }
}

// Portrait tablet to landscape and desktop
@media (min-width: 768px) and (max-width: 979px) {
  .container{
      width: 90%;
  }
}

// Large desktop
@media (min-width: 1200px) {
  .container{
    width: 1170px;
  }
}

