.accordion{
  button.target {
    cursor: pointer;
    padding: 18px 0;
    width: 100%;
    font-size: 15px;
    span{
      padding-left: 5px;
    }
  }
}

div.panel {
    padding: 0 18px;
    display: none;
}

div.panel.active {
    display: block; border: 1px solid #e2e2e2;
}

div.panel.hide {
    display: none;
}
