a.button,
button.default,
button.info,
button.success,
button.danger,
button.warning,
button.dark,
button.primary{
  font-size: 14px;
  @include display-flex(inline-flex);
  @include justify-content(center);
  @include align-items(center);
  outline:none;
  cursor:pointer;
  margin:3px;
  border: none;
  @include border-radius(2px);
  @include transition(.3s ease-out);
  @include box-shadow($box-shadow);
  &:hover{

    @include transform(translateY(-2px));
  }
  &:active{
    @include transform(translateY(3px));
  }

}
// size l s
 

@each $name, $value, $color in $colors {          //here is $name and $value is a paramiter for a loop
  a.button.#{$name},
  button.#{$name},
  button.#{$name},
  button.circle.#{$name}
    {
	  	@include display-flex(inline-flex);
		background: $value;
      @if($name =='default'){
        color:grey - 80;
      }@else {
        color: #fff;
      }
		  &:hover{
		    background: $value - 25;
            @include box-shadow($box-shadow);
		  }
	}
}
a.button.l,
button.l{
  padding:15px 50px;
  font-size:16px;
}
a.button.m,
button.m{
  padding:8px 8px;
  font-size:14px;
}
a.button.s,
button.s{
  padding:3px 5px;
  margin:3px;
  border-radius:3px;
  font-size:12px;
  font-weight: normal;
}
a.button.block,
button.block{
  @include display-flex();
  @include align-items(center);
  @include justify-content(center);
  text-align:center;
  padding:8px 0;
  width:100%;
}

a.button.disabled,
button.disabled{
  opacity:0.4;
  cursor:no-drop;
  color:$gray;
}


a.button.close,
button.close{
  border: none;
  &:after{
    content: '\2613';
  }
}
a.button.rounded,
button.rounded{
  padding-left: 30px !important;
  padding-right: 30px !important;
  @include border-radius(24px);
}
a.button.no-radius,
button.no-radius{
  @include border-radius(0);
}