

          .button-group{
             @include display-flex(inline-flex);
             position: relative;
             min-height: 1px;
             vertical-align: middle;
             margin: 3px 0px;
             border: 1px solid rgba(128, 128, 128, 0.22);
             padding-left: 5px;

            a.button,
             button{
                  margin-left:-2px;
                  border-radius: 0;
                  box-shadow:none;
                    &:first-child{
                        border-radius:3px 0 0 3px;
                    }
                   &:last-child{
                     border-radius:0 3px 3px 0;
                  }
	         }
	    
     }
	   	

   

   




   