form{
  display:block;
  padding: rem-calc(10px);
}

form-element,
.form-element{
  @include flex(1);
  //@include align-items(center);
  margin-bottom: rem-calc(6px);
}
label{
  padding: rem-calc(2px);
}
.input-item{
  height: rem-calc(30px);
  width: 100%;
  color:$inputColor;
  border: 1px solid $lightgrey;
  @include border-radius(3px);
  padding-left:rem-calc(5px);
  &:focus{
    background: rgba(228, 226, 226, 0.62);
    border: 1px solid rgba(169, 168, 168, 0.7);
    //@include box-shadow(1px 1px 6px 0px rgba(199, 199, 199, 0.82));
    outline:none;
    @include transition(all 0.2s ease-in);
  }
}
.inline{
  display: flex;
  flex-direction: row;
  button{
    margin: 0;
  }
  .input-item{
    margin-right: rem-calc(10px);
  }
  .input-item:last-child{
    margin-right: 0;
  }
}
textarea.input-item{
  min-height:rem-calc(120px);
  width:100%;
}
.side-by{
  .input-item{
    margin-right:0 !important;
    border-radius: 0;
  }
  label{
    border-radius: 0;
    height: rem-calc(23.5px);
    color: #4a4a4a;
    padding-right: 4px;
  }

  @each $name,$value in $colors{
    label.#{$name}{
      background: $value;
      @if $name == "default"{
        color:$dark;
        background: $lightgrey !important;
      }@else{
        color:$white;
      }
    }
  }
}
label{
  padding: 0.2125rem;
  white-space: nowrap;
  color: #5d5d5d;
}
.input-item{
  background: transparent;
}
.input-check, .input-radio{
  position: static;
}
@each $name, $value in $colors{
  @if($name == 'danger'){
    $name:'error';
  }
  .has-#{$name}{
    color: $value;
  }
  select[class^="input-"].#{$name},textarea.#{$name},input[class^="input"].#{$name}{
    @if $name == "danger"{
      color: red;
      border:1px solid $value !important;
      &:focus{
        border: 1px solid $value !important;
      }
    }
    @else{
      border: 1px solid $value !important;
      color:$black;
      &:focus{
        border: 1px solid $value !important;
      }
    }
  }

  [class^="input"].disabled{
    background: rgba(128, 128, 128, 0.11);
  }
}
.input-dropdown{
  height: rem-calc(35px);
}
.help-block{
  color: $danger;
}

//media query for form element
@media (max-width: 768px){

  .input-item{
    margin-bottom:5px;
    width: 100%;
  }
  .inline{
    flex-direction: column;
  }
  .side-by {
    label{
      display:flex;
      border-right: 2px solid rgba(128, 128, 128, 0);
    }
  }
  .form-element{
    display: block !important;
  }
  button{
    display:block;
  }
}
.inline.side-by{
  select.input-item{
    height:rem-calc(27px)!important;
  }
}

input[type=checkbox],input[type=radio]{
   margin: rem-calc(5px);
   cursor:pointer;

        &:checked + :focus{
          outline:none;
        }
}

