.wrapper {
  margin: 20px auto;
}

.container {
  margin: 20px auto;
}

[class*="col-"] {
  padding:$default-padding;
}
@media all and (max-width:500px) {
  [class*="col-"]{
    width:97%;
    margin: 0 auto;
  }
  .innerGap{
    padding:0!important;
  }
  .divider-in-layout{
    box-shadow: none!important;
  }
  .home-grid-resent {
    width: 94%!important;
    padding: 10px 9px!important;
  }
}
@media all and (min-width: 500px) {

  [class*="col-"]:last-child {
    margin-right: 0;
  }

  @for $i from 1 through 12 {
    .col-#{$i}{
      @include flex($i);
    }
  }

}

@media all and (min-width: 1000px) {
  .wrapper {
    max-width: 1000px;
  }
}
@media all and(max-width:768px){
   .container{
    @include flex-direction(column);
    .row{
      @include flex-direction(column);
        .footer-item {
          ul,p{
            text-align:center;
          }
        }
    }
  }
}



.space-left{
  margin-left: 15px;
}
.space-right{
  margin-right: 15px;
}


