nav{
  @include display-flex();
  background:grey;
  @include align-items(center);
  @include justify-content(space-between);
  @include flex-wrap(wrap);
  padding:5px;
  .item{
        li{
          float:left;
          padding: 6px 3px;
          position: relative;
      a{
        padding:14px 10px;
        text-align: center;
        font-size:16px;
        &:hover ~ .sub{
          display:block;
          z-index:1000;
        }

      }



      .sub{
        min-width: 145px;
        height:auto;
        position: absolute;
        top:35px;
        left: 0px;
        display:none;
        &:hover{display:block;}


        li{
          float:none;
          padding:0px;
          margin:0;

          a{
            background:grey;
            display:block;
            padding: 5px;
            -webkit-transition:all .5s ease-out;
            border-bottom:1px solid transparent;
            text-align:center;
            &:hover{
              background:lightgrey;
              color:#000;
              border-bottom:1px solid #fff;
            }
          }
        }
      }

    }
    .logo{
      max-height:90px;
      max-width:220px;
      overflow:hidden;
      background:transparent;
    }
  }
}



@media screen and (max-width:768px) {
  nav{
    @include flex-direction(column !important);
    display: none;
    -webkit-transition:all 0.5s ease-in;
    .item{
      @include display-flex();
      @include flex-direction(column !important);
      align-items: center;
      justify-content: center;
      li:active ~ .sub{
        display:block;
      }
    }
  }

  .sub{
    position: absolute!important;
    top: 29px!important;
    left: -23px!important;
  }

  .icon{
    @include display-flex();
    @include justify-content(flex-end);
    padding: 5px;
    background:rgba(112, 128, 144, 0.18);
    @include box-shadow($box-shadow);
    //box-shadow:0px 1px 4px 0px #5d5c5c;
    span{cursor:pointer;}
  }

}

@media screen and (min-width:769px){
  .icon{
    display: none !important;
  }
}

#switch{
  display:none;
}

#switch:checked ~ nav{
  display: block;
}



//nav{
//
//  @include navFlex(rgba(211, 211, 211, 0.38));
//  font-size: rem-calc(20px);
//
//  .right{
//    @include display-flex;
//    @include flex-direction(row);
//  }
//
//  .logo{
//    @include display-flex;
//    padding: 15px;
//    @include flex(1.1);
//    border: 1px solid rgba(181, 181, 181, 0.52);
//    cursor: pointer;
//  }
//
//
//  .item{
//    @include display-flex;
//
//    @include flex(1);
//    @include justify-content(center);
//    padding: 15px;
//    border-top:1px solid;
//    border-right: 1px solid #b9b9b9;
//    border-bottom:1px solid rgba(181, 181, 181, 0.52);
//    @include transition-property(box-shadow);
//    //transition-property: ;
//    //transition-duration: .2s;
//    @include transition-duration(.2s);
//    @include transition-timing-function(linear);
//    //transition-timing-function: linear;
//    cursor: pointer;
//    &:hover{
//      box-shadow: 0px 7px 23px 6px rgba(66, 66, 66, 0.4);
//    }
//  }
//
//  a{
//    text-decoration:none;
//    color: black;
//  }
//
//}


//nav{
//	@include navFlex;
//
//		.icon-bar{
//			min-height:40px;
//			background-color:$dark;
//				span{
//					font-size:25px;	color:$white; float:right; padding-right:10px;cursor:pointer;
//				}
//
//		}
//
//	.menu.dark{
//			@include dark;
//		li{
//			background-color:transparent;
//
//			a{
//				color:$white;
//			}
//		}
//	}
//}
//
//
//
//
//@media only screen and (max-width:768px){
//	.menu{
//		flex-direction:column;
//		display:none !important;
//	  }
//}








