
.pagination{
  @include display-flex();
  padding-left: 0;
  margin: rem-calc(20px) 0;
  @include border-radius(rem-calc(4px));

  &.right{
    @include display-flex();
    float: none;
    @include justify-content(flex-end);
    margin-left: none !important;
  }

  &.center{
    @include justify-content(center);
  }

  .active{

    a{
      color: #fff;
      cursor: pointer;
      background-color: #337ab7;
      border-color: #337ab7;

      &:hover{
        font-weight:normal;
        color: #fff;
        cursor: pointer;
        background-color: #337ab7;
        border-color: #337ab7;
      }
    }
  }

  .disabled {


    a{
      color:grey;
      opacity:0.7;
      cursor: not-allowed;
      pointer-events:none;
    }

  }


  li{

    list-style:none;
    @include display-flex(inline-flex);

    &:first-child {
      a{
        border-radius:3px 0px 0px 3px;
      }
    }

    &:last-child {
      a{
        border-radius:0px 3px 3px 0px;
      }
    }

    a,span{

      float: left;
      padding: 6px 12px;
      line-height: 1.42857143;
      color: #337ab7;
      text-decoration: none;
      background:transparent;
      border: 1px solid #ddd;


      &:focus{
        background: #337ab7;
        color:#fff;
        border: 1px solid #337ab7;
      }


      &:hover{

        color: #23527c;
        background-color: #eee;
        border-color: #ddd;
        //font-weight:bold;

      }

    }

  }

}
