.toggle{
  position: relative;
  display: inline-block;
  width: 59px;
  height: 20px;
    input[type=checkbox]{
      display:none;
      &:checked + .switch{
          &::before{
            left: rem-calc(37px);
            background: #e4e4e4 + 20;
          }
      }

    }
      .switch{
        border-radius:rem-calc( 37px);
        position: absolute;
        cursor: pointer;
        top: rem-calc(-3px);
        left:rem-calc(1px);
        right: 0;
        bottom: rem-calc(6px);
        //-webkit-transition: .4s;
        @include transition(.4s);
        transition: .4s;
          &:before{
            border-radius: 50%;
            position: absolute;
            content:'';
            height: rem-calc(29px);
            width: rem-calc(29px);
            left: rem-calc(-1px);
            bottom: rem-calc(-3px);
            @include transition(.4s);
            transition: .4s;
            box-shadow:0 0 1px #353333;
            background: #e4e4e4;
            border: rem-calc(1.5px) solid rgba(105, 105, 105, 0.18);
          }
      }
      .switch.square{
        @extend .switch;
        border-radius:rem-calc(2px);
        &:before{
          border-radius:rem-calc(0px);
          height: rem-calc(27px);
          width: rem-calc(26px);
          border: rem-calc(1px) solid rgba(105, 105, 105, 0.18);
        }
      }
}
@each $name,$value in $colors{
  input[type=checkbox]{
    &:checked + .switch.bg-#{$name}{
      &::before{
         background: $value;
      }
    }
  }
}
