@mixin textMixins($background:#444, $color:$gray, $border:0px solid #333){
    display: none;
    background: $background;
    color:$color;
    padding: 10px 7px;
    border: $border;
    border-radius: 4px;
    -webkit-transition: all 1s ease-in;
    box-shadow: 4px 4px 12px rgba(211, 211, 211, 0.64);
    text-align: center;
       &:before{
         content: '\25C0';
         padding-right: 5px;
         color: $default;
        }
}



.text-hover{
    display: inline-flex;
    position: relative;
    min-height: 35px;
    padding-top: 5px;

    &:hover .text{
      display:block;     
    }

     &:hover .text.top{
      display:block;     
     }

      &:hover .text.bottom{
      display:block;     
     }


}


@each $name, $value in $colors{

  .text.#{$name}{
      @include textMixins($background:$value, $color:$white, $border:0px solid $value - 50);
      position: absolute;
      min-width: 300px;
      left: 96px;
      top: -5px;
         &:before{
           position: absolute;
           left: -12px;
           color:$value;
          }

       @if $name == "default"{
          @include textMixins($background:$default,$color:#000 !important,$border:0px solid $value - 100);
       }

   }


  .text.top.#{$name}{

      @include textMixins($background:$value,$color:$white, $border:0px solid $value - 50);
        position: absolute;
        margin-top: -36px;
        min-width: 300px;
        margin-left: -94px;
        text-align: center;
        z-index:1000;
         &:before{
                color:$value;
               margin-left: 40px;
               position: absolute;
               bottom: -11px;
               -webkit-transform: rotate(-90deg);
               transform: rotate(-90deg);
          }

       @if $name == "default" {
          @include textMixins($background:$default,$color:#000 !important,$border:0px solid $value - 100);
       }

   }

    .text.bottom.#{$name}{

      @include textMixins($background:$value,$color:$white, $border:0px solid $value - 50);
      position: absolute;
      margin-top: 40px;
      min-width: 300px;
      margin-left: -94px;
      text-align: center;
      z-index:1000;
         &:before{
                color:$value;
               margin-left: 40px;
               position: absolute;
               -webkit-transform: rotate(-90deg);
               transform: rotate(90deg);
               top: -12px;
          }

       @if $name == "default" {
          @include textMixins($background:$default,$color:#000 !important,$border:0px solid $value - 100);
       }

   }

}