// .tooltip {
//     position: relative;
//     display: inline-block;
//     border-bottom: 1px dotted black;
//     left: 7px;


//     .text{
//         visibility: hidden;
//         color: $black;
//         text-align: center;
//         border-radius: 2px;
//         padding: 5px 5px;
//         position: absolute;
//         z-index: 1;
//         bottom: 125%;
//         left: 50%;
//         margin-left: -60px;
//         opacity: 0;
//         @include transition (opacity .7s);
//         box-shadow: $shadow-hover;

//         &:after {
//             content: "";
//             position: absolute;
//             top: 100%;
//             left: 50%;
//             margin-left: -5px;
//             border-width: 5px;
//             border-style: solid;
//             border-color: $white transparent transparent transparent;
//         }
// }


// @each $name, $value in $colors{
//     .text.#{$name} {
//         background: $value;
//         @if $name == 'default'{
//             color: $black;
//             border:1px solid ($value - 20);
//         } @else {
//             color:white;
//         }
        
//         &:after{
//             border-color: $value transparent transparent transparent;
//         }
//     }   

//      .text.#{$name} {
//         background: $value;
//         @if $name == 'danger'{
//             color: $white;
//             border:1px solid ($value - 20);
//         } @else {
//             color:$black;
//         }
        
//         &:after{
//             border-color:transparent transparent $value  transparent;
//         }
//     }
 
// }

// .text.right{
//     visibility: hidden;
//     width: 120px;
//     text-align: center;
//     border-radius: 4px;
//     padding: 5px 0;
//     position: absolute;
//     z-index: 1;
//     bottom: -32%;
//     margin-left: 55%;
//     opacity: 0;
//     transition: opacity 1s;

//     &:after {
//         content: "";
//         position: absolute;
//         top: 29%;
//         left: -5%;
//         margin-left: -4.4px;
//         border-width: 5px;
//         border-style: solid;
//         border-color:  transparent $default transparent transparent;
//     }

// }


// @each $name, $value in $colors {
//     .right.#{$name} {
//         &:after{            
//             border-color:transparent $value transparent transparent;
//         }
//     }
// }





// .text.bottom{
//     visibility: hidden;
//     width: 120px;
//     color: $black;
//     text-align: center;
//     border-radius: 4px;
//     padding: 5px 0;
//     position: absolute;
//     z-index: 1;
//     bottom: -190%; 
//     left: 50%;
//     margin-left: -60px;
//     opacity: 0;
//     transition: opacity 1s;

//     &:after {
//         content: "";
//         position: absolute;
//         top: -38%;
//         left: 50%;
//         margin-left: -5px;
//         border-width: 5px;
//         border-style: solid; 
//         border-color:  transparent transparent  $default transparent;     
//     }

// }

 

// @each $name, $value in $colors {
//     .bottom.#{$name} {
//         &:after{
//             border-color:  transparent transparent  $value transparent;
//         }
//     }
// }

// }


// .tooltip:hover .text,.right,.bottom{
//     visibility: visible;
//     opacity: 1;
// }


//new code


@mixin textMixins($background:#444, $color:$gray, $border:0px solid #333){
    display: none;
    background: $background;
    color:$color;
    padding: 10px 7px;
    border: $border;
    border-radius: 4px;
    -webkit-transition: all 1s ease-in;
    box-shadow: 4px 4px 12px rgba(211, 211, 211, 0.64);
    text-align: center;
       &:before{
         content: '\25C0';
         padding-right: 5px;
         color: $default;
        }
}



.tooltip{
    display: inline-flex;
    position: relative;
    min-height: 35px;
    padding-top: 5px;

    &:hover .text{
      display:block;     
    }

     &:hover .text.top{
      display:block;     
     }

      &:hover .text.bottom{
      display:block;     
     }


}


@each $name, $value in $colors{

  .text.#{$name}{
      @include textMixins($background:$value, $color:$white, $border:0px solid $value - 50);
      position: absolute;
      min-width: 300px;
      left: 96px;
      top: -5px;
         &:before{
           position: absolute;
           left: -12px;
           color:$value;
          }

       @if $name == "default"{
          @include textMixins($background:$default,$color:#000 !important,$border:0px solid $value - 100);
       }

   }


  .text.top.#{$name}{

      @include textMixins($background:$value,$color:$white, $border:0px solid $value - 50);
        position: absolute;
        margin-top: -36px;
        min-width: 300px;
        margin-left: -94px;
        text-align: center;
        z-index:1000;
         &:before{
                color:$value;
               margin-left: 40px;
               position: absolute;
               bottom: -11px;
               -webkit-transform: rotate(-90deg);
               transform: rotate(-90deg);
          }

       @if $name == "default" {
          @include textMixins($background:$default,$color:#000 !important,$border:0px solid $value - 100);
       }

   }

    .text.bottom.#{$name}{

      @include textMixins($background:$value,$color:$white, $border:0px solid $value - 50);
      position: absolute;
      margin-top: 40px;
      min-width: 300px;
      margin-left: -94px;
      text-align: center;
      z-index:1000;
         &:before{
                color:$value;
               margin-left: 40px;
               position: absolute;
               -webkit-transform: rotate(-90deg);
               transform: rotate(90deg);
               top: -12px;
          }

       @if $name == "default" {
          @include textMixins($background:$default,$color:#000 !important,$border:0px solid $value - 100);
       }

   }

}