.text-center{
  text-align: center;
}
.center{
  margin:0 auto;
}

.small{  font-size: smaller;}
.justify{
  text-align: justify;
}
p.right{
  float: right;
}

.hide{
  display: none;
}
.title{
  font-weight: bolder;
}

@each $value, $name in $colors{
  .#{$value}{
    color: $name;
  }
}

// new code for typography

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  font-weight: 400;
  margin: rem-calc(10px) 0;
}
h1 {
  font-size: rem-calc(36px);
}
h2{
  font-size: rem-calc(30px);
}
h3{
  font-size: rem-calc(24px);
}
h4{
  font-size: rem-calc(20px);
}
h5{
  font-size: rem-calc(18px);
}
h6{
  font-size: rem-calc(16px);
}
hr{
  margin:1.3rem 0 !important;
}



.underline{
  text-decoration: underline;
}
.dot-underline{
  text-decoration: underline dotted;
}
.double-underline{
  text-decoration: underline double;
}
.dash-underline{
  text-decoration: underline dashed;
}
.wavy-underline{
  text-decoration: underline wavy;
}

.line-over{
  text-decoration:overline;
}

.line-through{
  text-decoration:line-through;
}

.italic{
  font-style: italic;
}

.oblique{
  font-style:oblique;
}

.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}

.capital {
  text-transform: capitalize;
}
small{
  font-size:smaller;
}
@import "blockquote";