@mixin navFlex($background:lightgrey){
  @include display-flex();
  @include flex-direction(row);
  @include flex-wrap(wrap);
  background: $background;


}



//@mixin navFlex($background-color: $white, $color: $dark, $line-height: 50px) {
//
//
//	background:$background-color;
//	ul, li{margin:0;padding:0;}
//
//	.menu{
//		display:flex;
//		list-style:none;
//		flex-wrap: wrap;
//		li{
//			background: $background-color;
//			box-shadow: 0px 1px 0px rgba(138, 138, 138, 0.14);
//			flex:1;
//			border-right: 1px solid #e8e8e8;
//			height: rem($line-height);
//			align-items:center;
//			justify-content:center;
//			text-align:center;
//			a{line-height:rem($line-height);color:$color;}
//
//			&:first-child{
//				 flex:1.2;
//			}
//		}
//	}
//
//
//
//}
//
//@mixin dark($background-color:$dark){
//	background:$background-color;
//
//}




