@mixin square($width: 150px, $background-color: $info) {
  height: $width;
  width: $width;
  background: $background-color;
  line-height: $width;
  vertical-align: middle;
  text-align: center;
  font-size: 15px;
  border: 1px solid $primary;
}

@mixin rectangle($height:100px,$width:150px,$background-color:$info) {
  height: $height;
  width: $width;
  background: $background-color;
  line-height: $height;
  vertical-align: middle;
  text-align: center;
  font-size: 15px;
  border: 1px solid $primary;
}

@mixin parallelogram($height:100px,$width:200px,$background-color:$info) {
  height: $height;
  width: $width;
  background: $background-color;
  line-height: $height;
  vertical-align: middle;
  text-align: center;
  font-size: 15px;
  border: 1px solid $primary;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  transform: skew(20deg);
}

.square,
square {
  display: inline-block;
  @include square;
}

.parallelogram,
parallelogram {
  display: inline-block;
  @include parallelogram;
}

.rectangle,
rectangle {
  display: inline-block;
  @include rectangle;
}