@mixin circle($background: $info, $border: 2px solid $primary, $radius: 200px) {
	width: $radius;
	height: $radius;
	background: $background;
	line-height: $radius;
	vertical-align: middle;
	text-align: center;
	font-size: $radius/5;
	@include border-radius($radius/2);
	border:$border;
}
circle{
	display: inline-block;
	@include circle;
	@include transition(all 2.0s ease-in-out);
}
.circle{
	display: inline-block;
	@include circle;
	@include transition(all 2.0s ease-in-out);
	i{
		font-size: rem-calc(21px);
	}
}

@mixin oval($value,$background){
	height:$value;
	width:$value*2;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	 border-radius:  100%;
	 display: inline-block;
	 background:$background;
	 text-align:center;
	 line-height:147px;
	 font-size:40px;
}
oval{
    @include oval(150,teal);
}

$circle-button-redius : 70px;

button.circle{
	outline:none;
	width: $circle-button-redius;
	height: $circle-button-redius;
	background: $default;
	line-height:0;
	text-align: center;
	@include border-radius($circle-button-redius/2);
	font-size: 11px;
}